<%= form_with(model: burger, local: true) do |form| %>
  <% if burger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(burger.errors.count, "error") %> prohibited this burger from being saved:</h2>

      <ul>
      <% burger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name, id: :burger_Name %>
  </div>

  <div class="field">
    <%= form.label :Price %>
    <%= form.text_field :Price, id: :burger_Price %>
  </div>

  <div class="field">
    <%= form.label :Image %>
    <%= form.text_field :Image, id: :burger_Image %>
  </div>

  <div class="field">
    <%= form.label :Nutriscore %>
    <%= form.text_field :Nutriscore, id: :burger_Nutriscore %>
  </div>

  <div class="field">
    <%= form.label :Code %>
    <%= form.text_field :Nutriscore, id: :burger_Nutriscore %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
