<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @burger.Name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @burger.Price %>
</p>

<p>
  <strong>Image:</strong>
  <%= @burger.Image %>
</p>

<p>
  <strong>Nutriscore:</strong>
  <%= @burger.Nutriscore %>
</p>

<%= link_to 'Edit', edit_burger_path(@burger) %> |
<%= link_to 'Back', burgers_path %>
